@charset "UTF-8";

h1{
    color:thistle;
    text-align: center;
    background-color: #F5F5F5;
    box-shadow: 10px 10px 10px 5px #FFF0F5;
    border:ridge 5px MistyRose;
}
body{
background-color:Lavender;
text-align: center;
}
div.left{
     margin-left:800px;
    text-align:left;
    font-weight: bold;
    color:#FF99CC;

}
div.right{
    margin-left:1000px;
    text-align:left;
   font-weight: bold;

}
div.sent{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    color:#FF6699;
    border:ridge 5px MistyRose;
    background-color: #F5F5F5;
    box-shadow: 10px 10px 10px 5px #FFF0F5;
    margin-left: 800px;
    margin-right: 800px;
}
#box1{

background-color: #F5F5F5;
box-shadow: 10px 10px 10px 15px #FFF0F5;

}
