@charset "UTF-8";



    h1{
        color:thistle;
        text-align: center;
        background-color: #F5F5F5;
        box-shadow: 10px 10px 10px 5px #FFF0F5;
        border:ridge 5px MistyRose;
        margin-left: 700px;
        margin-right: 700px;
    }
    body{
    background-color:Lavender;
    text-align: center;

    }

    p{
        margin-top: 20px;
        margin-left: 600px;
        margin-right:600px;
        margin-bottom: 20px;


    }

    div.q{
        margin-left: 750px;
        margin-right:750px;
        text-align: left;
        float:left;
        font-weight: bold;
        color:#FF99CC;


    }
    div.box{
        margin-left: 1000px;
        margin-right:0px;
        text-align:left;
        float:left;
        font-weight: bold;



   }

div.phbox{
        float:right;
        margin-right:318px;

        }

    div.mailbox{

       float:right;
      margin-right:505px;

     }
